.block1{
    display: flex;
    justify-content: space-around;
}
.block2{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 400px;
    height: 400px;
    background-color: red;
    color: white;
   font-size: 50px;
   align-items: center;
   display: flex;
}
h2{
    text-align: center;
}